/*######## MOBILE VERSION ######*/
body{
	background:#ececfb;
	font: 0.8em 'Poiret One', cursive;
}

h1{
	font-size:2em;
	text-align:center;
}
h2{
	font-size:1.4em;
	text-align:center;
	font-weight:normal;
}
img{
	width:100%;
}

.clearfix:after{
	display:block;
	visibility:hidden;
	font-size:0;
	content:"";
	height:0;
	clear:both;
}
.container{
	padding:5px;
	box-sizing: border-box;
}
#main-header{
	background:#fff;
}

#logo{
	float:left;
}
#logo img{
	max-width:200px;
}

.slider{
	background:url('../images/header.png');
	background-size:cover;
	text-align:center;
}
.slider img{
	display:none;
}

.slider h1, .slider h2{
	color:#fff;
	background:rgba(0,0,0,0.55);
	padding:5px;
}

.slider h1{
	max-width:320px;
	margin:0 auto;
}

.slider a{
	display:inline-block;
	background:#fff;
	border:none;
	padding:10px;
	color:#000;
	text-transform:uppercase;
	font-weight:700;
	margin:25px auto 30px auto;
	text-align:center;
	text-decoration:none;
	
}

#featured article h1{
	text-align:left;
	font-size:1.6em;
}
#featured article{
	padding-left:65px;
	position:relative;
}
#featured article:before{
	width:50px;
	height:50px;
	content:'';
	background:url('../images/icons.png');
	position:absolute;
	left:5px;
	top:5px;
	background-size:200px 50px;
}
#featured article#advice:before{
	background-position:-50px 0;
}
#featured article#support:before{
	background-position:-100px 0;
}
#featured article#cloud:before{
	background-position:-150px 0;
}

#featured-slider{
	background:#333;
	padding:5px 0;
	text-align:center;
}
#featured-slider h1, #featured-slider h2, #featured-slider p{
	color:#fff;
}
#featured-slider a{
	display:inline-block;
	background:#22677a;
	border:none;
	color:#fff;
	padding:10px;
	margin:0 auto;
	text-transform:uppercase;
	font-weight:700;
	margin:25px auto 5px auto;
	text-align:center;
	text-decoration:none;
}
footer h1{
	font-size:1.6em;
	text-align:left;
	}
/*######## TABLET VERSION ######*/
@media screen and (min-width: 768px){
	body p{
		font-size:1.2em;
	}
	
	.slider{
		 background: #2690b0; /* Old browsers */
        background: -moz-linear-gradient(top,  #2690b0 0%, #7db9e8 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #2690b0 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #2690b0 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2690b0', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	}
	
	.slider img{
		display:block;
		margin:20px 0 -5px 0;
	}
	
	.slider h1, .slider h2{
		background:none;
	}
	.slider article img{
		display:block;
		width:100%;
		max-width:1280px !important;
		margin:0 auto -5px auto;
		
	}
}
/*######## DESKTOP VERSION ######*/
@media screen and (min-width: 1024px){
	body{
		font-size:1.2em;
	}

	.container{
		width:100%;
		max-width:1280px;
		margin:0 auto;
	}
	button.mobile{
		display:none;
	}
	
	.slider h1{
		max-width:none;
		text-align:center;
	}
	#featured article{
		width:44%;
		float:left;
	}
	footer article{
		width:30%;
		float:left;
	}	
	
}